
.but{
    width: 300px;
    height: 300px;
}
.center{
    text-align: center;
}
.left{
    position: fixed;
    bottom: 250px;
    left: 200px;
}
.right{
    position: fixed;
    bottom: 250px;
    right: 200px;
}
body{
    background-color: #81CEDE;
    color: white;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.Tright{
    text-align: right;
}
.backGrind{
    background-image: url(img\Vinder_tausta.png);
}