
.but{
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
}
.center{
    text-align: center;
}
.left{
    position: fixed;
    bottom: 250px;
    left: 200px;
}
.right{
    position: fixed;
    bottom: 250px;
    right: 200px;
}
body{
    background-color: #81CEDE;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.scrollLock{
    overflow: hidden;
}
.bg{
    background-image: url("../img/Vinder_tausta.png");
    background-size: 100% 270%;
    background-repeat: no-repeat;
}
.Tright{
    text-align: right;
}
.extendo{
    padding-top: 200px;
}
.hidden{
    position: fixed;
    bottom: -100px;
}
.hidden2{
visibility: hidden;
}
.mand{
    color: red;
    font-size: smaller;
}